<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{oC.meta.description}}">
    <meta name="keywords" content="{{oC.meta.keywords}}">
    <meta name="author" content="{{oC.meta.author}}">

    <title>{{oC.title}}</title>

    <!-- Bootstrap core CSS --> {# {{ url_for('static', filename='') }} #}
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/scrolling-nav.css') }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{oC.navbarBrand}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {% for ni in oC.scrollingNav.sect %}
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#{{ni.attr('anchor')}}">{{ni.attr('brief')}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1>{{oC.header.first}}</h1>
        <p class="lead">{{oC.header.second}}</p>
      </div>
    </header>

    {% for ni in oC.scrollingNav.sect %}
    <section id="{{ni.attr('anchor')}}" 
        {% if ni.node.get('sect-html-class', None) %}
            {{ 'class=%s'%ni.attr('sect-html-class') }}
        {% endif %}
        >
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            {{ni.literalHTML|safe}}
          </div>
        </div>
      </div>
    </section>
    {% endfor %}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{oC.copyright.holder}} {{oC.copyright.startYear}}-{{now.year}}</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{{ url_for('static', filename='js/scrolling-nav.js') }}"></script>

  </body>

</html>
